__pycache__/randmove.cpython-39.pyc
__pycache__/cat_class.cpython-310.pyc
__pycache__/mouse_class.cpython-310.pyc
__pycache__/randmove.cpython-310.pyc
__pycache__/randmove.cpython-310.pyc
__pycache__/randmove.cpython-310.pyc
